* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: lightcyan;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(66, 63, 153);
}

span{
    color: rgb(66, 63, 153);
}

.row{
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items:last baseline;
}

.des, .cat, .amount p{
    font-size: 20px;
    color: rgb(66, 63, 153);
}

.des input{
    height: 40px;
    width: 500px;
    background-color: transparent ;
    border-radius: 10px;
    margin-top: 3px;
    border-color: rgb(66, 63, 153);
}

.cat select{
    height: 40px;
    width: 360px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 3px;
    border-color: rgb(66, 63, 153);
    background-color: transparent ;
}

.amount input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-top: 3px;
    border-color: rgb(66, 63, 153);
    background-color: transparent ;
}

.row button{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    border: none;
    background-color: rgb(207, 207, 238) ;
    color: rgb(66, 63, 153);
}

.clear button{
    height: 40px;
    width: 105px;
    border-radius: 10px;
    border: none;
    background-color: rgb(235, 161, 161) ;
    color: rgb(210, 23, 23);
}


table {
  margin-top: 30px;
  border-collapse: collapse; 
  width: 100%;               
}

th, td {
  border: 1px solid rgb(66, 63, 153);   
  padding: 8px;              
  text-align: left;      
  color: rgb(39, 33, 139);    
}
